/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-font: 'IBM Plex Mono';
  --text-color: #353430;
  --accent-color: #353430;
  --bg-color: #ffc2e6;
  --title-color: #ffc2e6;
  --item-title-color: #353430;
}

@media (prefers-color-scheme: light) {

  :root {
    --main-font: 'IBM Plex Mono';
    --text-color: #353430;
    --accent-color: #353430;
    --bg-color: #ffc2e6;
    --title-color: #ffc2e6;
    --item-title-color: #353430;
  }
}
