/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-img: url(../images/cover-image-light.png);
  --main-font: 'IBM Plex Mono';
  --text-color: #353430;
  --accent-color: #353430;
  --bg-title: #ff8dcb;
  --bg-color: #ffc2e6;
  --text-shadow: #ff8dcb;
  --title-color: #ffc2e6;
  --item-title-color: #353430;
}

/*сохранить впеременную*/

.theme_light.page {
  background-image: url(../images/cover-image-light.png);
}

.theme_light .rec {
  display: none;
}

.theme_light .top-right-corner::before {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-img: url(../images/cover-image-light.png);
    --main-font: 'IBM Plex Mono';
    --text-color: #353430;
    --accent-color: #353430;
    --bg-title: #ff8dcb;
    --bg-color: #fff1f7;
    --text-shadow: #ff8dcb;
    --title-color: #ffc2e6;
    --item-title-color: #353430;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .rec {
    display: none;
  }

  .top-right-corner-decoration .top-right-corner::before {
    display: none;
  }
}
